!.gitignore
!.perltidyrc
!.travis.yml

*~
.*
*.bak
*.o
*.swp
*.tar.gz
*.tmp

/IO-Compress-*
!MANIFEST.SKIP
/MYMETA.*
/Makefile
/Makefile.old
/archive
/blib
/bugs
/libraries
/pm_to_blib
/releases
/scratch